.flex-container {
    display: flex;
    justify-content: space-around;
    /* Adjust as needed */
    align-items: center;
    /* Adjust as needed */
}

.card {
    width: 250px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease;
    /* Add transition for smooth hover effect */
}

.card:hover {
    transform: translateY(-5px);
    /* Move card up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Add shadow effect on hover */
}

.card img {
    width: 100%;
    height: auto;
}

.card-info {
    text-align: center;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin-bottom: 5px;
}